<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HaberCekme.Properties.Settings.haberCekConnectionString"
            connectionString="Data Source=KAMILEENER-DELL\KAMILEENER;Initial Catalog=haberCek;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>